# Exploring constructs

In [7]:
import efflux
import pandas as pd
import numpy as np
import Bio
from Bio.Restriction import *
from Bio.Seq import Seq

In [8]:
df = pd.read_csv("../../data/efflux_pumps_twist.csv")
df.head()

     name                                           sequence
0  acrA_0  CCATTGATAGATTCGCTCGCTCGAGGATGTGTTGGCGCGTTTCTTG...
1  acrA_1  CCATTGATAGATTCGCTCGCTCGAGGATGTAATTGCTCGTTTCTTG...
2  acrA_2  CCATTGATAGATTCGCTCGCTCGAGGATGTAGAGGCGCGTTTCTTG...
3  acrA_3  CCATTGATAGATTCGCTCGCTCGAGGATGTAGAGGCGTGTTTCTTG...
4  acrA_4  CCATTGATAGATTCGCTCGCTCGAGGATGTAGTAGCGCGTTTCTTG...

In [11]:
np.unique([x.split('_')[0] for x in df.name])

array(['acrA', 'acrB', 'acrD', 'acrE', 'acrZ', 'cusC', 'cusR', 'envR14',
       'gadE', 'gadE1', 'gadE3', 'gadE4', 'gadW1', 'gadW2', 'gadX',
       'gadY', 'mdtA', 'mdtE2', 'neg', 'tolC3'], dtype='<U6')

In [51]:
count_salI = 0
names_salI = []

count_sbfI = 0
names_sbfI = []

for name, seq in zip(df.name, df.sequence):
    if len(SalI.search(Seq(seq))) > 0:
        names.append(name)
        count_salI += 1
    if len(SbfI.search(Seq(seq))) > 0:
        names.append(name)
        count_sbfI += 1
    if len(XhoI.search(Seq(seq))) > 0:
        names.append(name)
        count += 1

In [52]:
print("SalI sites: {}".format(count_salI))
print("SbfI sites: {}".format(count_sbfI))

SalI sites: 206
SbfI sites: 6